.item .activeLink {
    color: #f2d13d;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    background-color: #3044b5;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: #ffe200;
    border: white 2px dashed;
    padding: 10px;
    width: 167px;
    height: 38px;
    text-align: center;
}