.component {
    display: flex;
    width: 99%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: solid black 2px;
}

.input {
    display: flex;
    margin-right: 15px;
}

.input input,
button {
    font-size: 18px;
    border-radius: 3px;
}

button {
    width: 100px;
    height: 37px;
    margin-top: 15px;
    background-color: #7080d7;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background: rgb(144, 159, 246);
    color: rgb(255, 251, 251);
}

button:focus {
    outline: none;
}

button:active {
    background: rgb(97, 107, 165);
    color: rgb(223, 223, 223);
}

.input p {
    margin: 0;
    padding: 0;
    font-size: 23px;
}

.date,
.names,
.active {
    display: flex;
    width: 630px;
    justify-content: space-between;
    align-items: center;
}

.date {
    display: none;
}