p {
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    height: 40px;
    width: 300px;
    align-items: center;
    justify-content: inherit;
}

input {
    height: 20px;
    font-size: 17px;
}